@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .drawer-side {
        height: 100svh;
    }

    .nav {
        height: 10svh;
    }

    .page {
        height: 90svh;
    }
}
