@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .drawer-side {
        height: 100svh;
    }

    .nav {
        height: 5svh;
    }

    .page {
        height: 95svh;
    }
}
